body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #fff;
  font-size: 14px;
}

.clearfix:after{
  content: "." ; 
  display: block ;
  height: 0 ;
  clear: both ;
  visibility: hidden ;  
}

.pointer{
  cursor: pointer;
}
.center{
  text-align: center;
}
.lf{
  float: left;
}
.rt{
  float: right;
}
